#data-entry-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 5rem 3% 2rem 3%;
}
.select-cards-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 64px;
  flex-wrap: wrap;
}

.single-select-card-container {
  flex: 1 1 400px; /*  Stretching: */
  flex: 0 1 400px; /*  No stretching: */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  box-shadow: var(--card-border-shadow);
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  background: white;
  text-align: center;
  margin: 32px 0px;
}
.single-select-card-container p {
  font-weight: 400;
  max-width: 90%;
  text-align: center;
  font-family: var(--main-font-family);
}
.single-select-card-container h5 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  line-height: auto;
}
.single-select-card-container:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.card-img-container {
  display: block;
  max-width: 250px;
}
.card-img-container img {
  width: 100%;
}

.selected-card {
  transition: transform 0.5s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  border: 3px solid #508ef8fb;
  box-shadow: 0px 6px 18px #508ef88e;
  margin: 32px 0px;
}
.data-entry-header div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 2rem 0rem;
  text-align: center;
}
.data-entry-header span {
  width: 100%;
  font-size: 1.5rem;
  color: var(--main-heading-font-color);
  font-weight: 600;
  text-align: center;
}
.data-entry-header p {
  font-weight: 500;
}
.btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 25px;
}
.route-to-path-btn {
  font-family: var(--main-font-family);
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 2px solid #109cf1;
  color: #109cf1;
  font-size: 1rem;
  padding: 10px 32px;
  text-align: center;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.route-to-path-btn:hover {
  background: #109cf1;
  color: white;
}
@media only screen and (min-width: 720px) {
  .route-to-path-btn {
    width: fit-content;
  }
}
/* Desktop */

@media only screen and (min-width: 1024px) {
}
