.dropzone-wrapper {
  margin-top: 32px;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.input-label {
  width: 100%;
  font-family: 'system-ui', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #4787c7;
  text-align: center;
  position: relative;
}

.input-label:after {
  content: 'Files Supported :  .xsls  .csv';
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  bottom: -60%;
  color: #90a0b7;
}
