.dropzone-wrapper {
  margin-top: 32px;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.input-label {
  width: 100%;
  font-family: 'system-ui', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #4787c7;
  text-align: center;
  position: relative;
}

.input-label:after {
  content: 'Files Supported :  .xsls  .csv';
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  bottom: -60%;
  color: #90a0b7;
}

.drag-n-drop-container {
  width: 100%;
}

.drag-n-drop-text-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drag-n-drop-text-header p {
  color: #4787c7;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}
.drag-n-drop-text-header span {
  font-weight: 500;
}
