#forgot-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
  background: rgba(248, 248, 248, 0.657);
  height: 100vh;
}
#forgot-password-page h5 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.reset-password-title {
  margin-bottom: 0.5rem;
}
.forgot-password-container {
  background: #fff;
  width: 450px;
  padding: 2rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-top: 0.5rem;
}
#forgot-password-page form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
#forgot-password-page form > * {
  margin-bottom: 1rem;
}

.reset-password-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

#mail-field-label {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.reset-password-btn {
  color: #fff;
  background: #2ca142;
  padding: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;

  border-color: #2ea043;
  box-shadow: 0 0 transparent, 0 0 transparent;
  font-size: 13px;
}
#reset-password-email-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
#reset-password-email-field-label {
  font-size: 14px;
}

.reset-password-btn:hover {
  filter: brightness(105%);
  -webkit-filter: brightness(105%);
}
.reset-password-btn:disabled:hover {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}
.timer-svg {
  width: 200px;
}
.return-to-sign-in-btn {
  width: 100%;
  margin: 1.2rem 0rem 0rem 0rem;
  padding: 0.6rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background: #2f373c;
  color: white;
  font-weight: 500;
  font-size: 13px;
}
