#reset-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
  background: rgba(248, 248, 248, 0.657) !important;
  height: 100vh;
}

.new-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.new-password-form > div {
  margin: 0.8rem 0rem 0.4rem 0rem;
}
.password-changed-successfully {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-changed-successfully > * {
  margin-bottom: 1rem;
}
