#assign-lecturers-page,
#assign-lecturers-to-courses-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 7rem 3% 2rem 5%;
  font-family: Poppins;
}
#assign-lecturers-page header p {
  font-weight: 500;
}
#assign-lecturers-page header h4 {
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  font-weight: 500;
  position: relative;
}
.courses-card-grid-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.courses-card-grid-container li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background: #ffffff;
  /* Card Stroke */

  border: 0.5px solid rgba(51, 77, 110, 0.24);
  /* Design Shadow */

  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.29);
  padding: 1rem;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  cursor: pointer;
}
.courses-card-grid-container li:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.single-course-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.single-course-card-img {
  width: 32%;
  min-width: 80px;
}
.single-course-card-img img {
  display: block;
  width: 100%;
}

.single-course-card-container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.single-course-card-container header h6 {
  font-weight: 500;
  font-size: clamp(0.6rem, 0.6rem + 0.5vw, 1.125rem);
  color: #192a3e;
}

.single-course-card-container header span {
  font-weight: 500;
  font-size: clamp(0.5rem, 0.5rem + 0.8vw, 1rem);

  color: #90a0b7;
}

.course-img-avatar {
  max-width: 80px;
}
.course-assign-header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
}
.course-assign-header div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.course-assign-header div h6 {
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
}
.course-assign-header span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;

  color: #90a0b7;
}
@media only screen and (min-width: 720px) {
}
/* Desktop */

@media only screen and (min-width: 1024px) {
  .courses-card-grid-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
