.drawer-logo {
  position: relative;
  padding-left: 10px;
  z-index: -1;
}
.drawer-logo img {
  min-width: 90px;
  object-fit: contain;
  max-width: 20%;
}
.toolbar {
  box-shadow: none;
  border: none;
  outline: none;
}
.avatar-drawer {
  display: flex;

  height: 160px;
  align-items: center;
  justify-content: space-around;
  margin: 0px 5px;
}
.avatar-drawer img {
  width: 100%;
  object-fit: contain;
  max-width: 50px;
}
.avatar-drawer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 24px;
  width: 60%;
  color: #192a3e;
  margin-left: 0px;
  margin-right: 16px;
}
.avatar-drawer span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.avatar-drawer p {
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem;
}

.navbar-list {
  font-family: var(--main-font-family);
  font-weight: 400;
}
.list-item-text {
  color: #596e89;
  font-size: 0.875rem;
  font-family: var(--main-font-family);

  font-weight: 500;
  letter-spacing: -0.01em;
}

.list-item-icon > * {
  color: #c2cfe0;
}
.active-nav-icon > * {
  color: var(--color-link-text);
}

.monthly-report-button {
  position: relative;
  /*Blue2*/
  min-height: 40px;
  border: 1px solid var(--color-link-text);
  border-radius: 30px;
  margin: 10% 16px 0rem 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.monthly-button-text {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--color-link-text);

  position: absolute;
  right: 11px;
}

.monthly-button-icon {
  position: absolute;
  left: 11px;
}

.monthly-button-icon > * {
  color: var(--color-link-text);
  font-size: 1px;
}

.only-icon {
  padding: 0;
  border: none;
  margin: 10% 0px 0rem 0px;

  position: relative;
  left: 3px;
}
.logout-btn {
  width: 100%;
  position: absolute;
  bottom: 5px;
  cursor: pointer;
}
.delete-shadow {
  background: white;
}

.logo-small {
  display: block;
  max-width: 25px;
}
.small-avatar {
  display: block;
  max-width: 30px;
}
.appBar-icons {
  margin-right: 30px;
}
.active-nav-text {
  color: #109cf1;
  font-weight: 600;
}
.active {
  position: absolute;
  left: -5px;
  width: 5px;
  height: 22px;
  background: #109cf1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.test {
  width: fit-content;
  background: red;
  color: red;
}
