.drawer-logo {
  position: relative;
  top: 24px;
  left: 24px;
  z-index: -1;
  height: 64px;
  display: flex;
  align-items: center;
}
.drawer-logo img {
  width: 100%;
  object-fit: contain;
  max-width: 100px;
}
.toolbar {
  box-shadow: none;
  border: none;
  outline: none;
}

.navbar-list {
  font-family: var(--main-font-family);
  font-weight: 400;
}
.list-item-text {
  color: #596e89;
  font-size: 0.875rem;
  font-family: var(--main-font-family);

  font-weight: 500;
  letter-spacing: -0.01em;
}

.list-item-icon > * {
  color: #c2cfe0;
}
.active-nav-icon > * {
  color: var(--color-link-text);
}

.delete-shadow {
  background: white;
}

.logo-small {
  display: block;
  max-width: 25px;
}
.small-avatar {
  display: block;
}

.appBar-icons {
  margin-right: 30px;
}
.active-nav-text {
  color: #109cf1;
  font-weight: 600;
}
.active {
  position: absolute;
  left: 0px;
  width: 5px;

  height: calc(100% - 15px);
  background: #109cf1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
