.login-grid-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.login-form-container {
  width: clamp(350px, 55%, 400px);
  padding: 16px 32px;
  background: #fff;
  margin: 0 auto;
  position: relative;
}
.loginForm {
  margin: 2rem 0rem;
}

.login-form > div {
  margin-bottom: 1rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.login-btn {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: var(--very-light-white);
  font-weight: 500;
  background: var(--button-bg-color);
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  padding: 0.7rem 2rem;
  transition: filter 0.2s ease-in;
  -webkit-transition: filter 0.2s ease-in;
  -moz-transition: filter 0.2s ease-in;
  -ms-transition: filter 0.2s ease-in;
  -o-transition: filter 0.2s ease-in;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.login-header {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 2rem;
}
.sign-in-paragraph {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.login-btn-container {
  width: 100%;
}

.forgot-password-btn {
  margin-top: 0.8rem;
  align-self: start;
  color: #0073b1;
  font-size: 0.9rem;
  font-weight: 600;
}
/* iPad and Tablets  */
@media only screen and (min-width: 720px) {
  .login-grid-container {
    align-items: center;
    justify-content: center;
  }
  .login-form-container {
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .login-page-logo {
    position: absolute;
    left: 0;
    top: -65px;
  }
}
/* Desktop */

@media only screen and (min-width: 1024px) {
}
