#add-lecturers-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 8rem 5% 2rem 5%;
}

.circular-progress-bar-container {
  padding: 2px;
  margin-right: 5px;
}

.btns-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0rem;
  padding: 1rem 0rem;
  width: 100%;
}

@media only screen and (min-width: 720px) {
}
@media only screen and (min-width: 1024px) {
  .btns-container {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
