#add-lecturers-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 8rem 5% 2rem 5%;
}
.fixed-btn-bottom {
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column-reverse;
  gap: 16px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media only screen and (min-width: 720px) {
  .fixed-btn-bottom {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .fixed-btn-bottom {
    position: fixed;
    bottom: 1rem;
    padding-right: 2rem;
  }
}
