.styled-table {
  border-collapse: collapse;
  font-size: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.styled-table thead tr {
  text-align: left;
  border-bottom: thin solid #dddddd;
}

.styled-table th,
.styled-table td {
  padding: 20px 24px;
  cursor: pointer;
  font-family: var(--secondary-font-family);
  letter-spacing: 0.01rem;
  color: #6e6e6e;
  font-weight: 500;
}
.styled-table th {
  color: var(--primary-color);
  font-weight: 600;
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3c9;
}

.styled-table tbody tr:hover {
  background: #109ef00e;
}
.validation-badge {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 6px 18px;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

.valid-badge {
  background-color: #ddebf7;
  color: #084b8a;
}
.not-valid-badge {
  background-color: #fae2e2;
  color: #bf0e08;
}
#panel1a-header {
  padding: 0;
  margin: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.flex-show-preview {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 0.8rem;
  font-weight: 500;
}
.flex-show-preview > * {
  margin-right: 0.5rem;
}
.MuiAccordion-root {
  background: transparent;
}
.icons8-expand-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iIzM0NDk1ZSI+PHBhdGggZD0iTTE5LjAzNjQ2LDQ0Ljc5MTY3bC05LjQwNjI1LDEwLjc1bDcxLjY2NjY3LDY0LjVsNC43MDMxMyw0LjI1NTIxbDQuNzAzMTMsLTQuMjU1MjFsNzEuNjY2NjcsLTY0LjVsLTkuNDA2MjUsLTEwLjc1bC02Ni45NjM1NCw2MC4yNDQ3OXoiPjwvcGF0aD48L2c+PC9nPjwvc3ZnPg==')
    50% 50% no-repeat;
  background-size: 100%;
}

@media only screen and (min-width: 720px) {
  #panel1a-header {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  #panel1a-header {
    width: 60%;
  }
}
