/* FORM */

[class$='-form'] {
  margin-top: 10px;
  position: relative;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin-bottom: 40px;
}

[class$='-form'] input {
  width: 100%;
  height: 100%;
  color: var(--main-heading-font-color);
  padding-top: 20px;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

[class$='-form'] label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--main-subheading-font-color);
  font-size: 1rem;
  color: #11111171;
  max-width: 75%;
}

[class$='-form'] label::after {
  content: '';
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--main-heading-font-color);
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.content-name {
  position: absolute;
  bottom: 10px;
  left: 0px;
  transition: all 0.3s ease;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  color: var(--main-subheading-font-color);
}

[class$='-form'] input:focus + .label-name .content-name,
[class$='-form'] input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 0.875rem;
  color: var(--main-subheading-font-color);

  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
}

[class$='-form'] input:focus + .label-name::after,
[class$='-form'] input:valid + .label-name::after {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
