/* Mobile First Technique  */

/* Mobile CSS*/

.login-grid-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  display: none;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0% 18.5% 0% 15.5%;
  align-items: flex-start;
}
.carousel-col1 {
  height: 100%;
  display: grid;
  place-items: center;
}
.student-sign-in {
  font-size: 0.8125rem;
}
.loginForm header {
  margin-bottom: 30px;
}

/* iPad and Tablets  */
@media only screen and (min-width: 720px) {
  .login-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    place-items: center;
    grid-template-areas: 'col1 col2';
  }

  .carousel-col1 {
    grid-area: col1;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .login-form-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }
  .carousel-container {
    grid-area: col2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5f6f8;
  }
  .carousel-paper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
  }

  .carousel-paper p {
    max-width: 90%;
  }

  .carousel-img {
    max-width: 500px;
    min-width: 80%;
    margin-bottom: 1rem;
  }
}
/* Desktop */

@media only screen and (min-width: 1024px) {
}
