* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;

  --main-heading-font-color: #334d6e;
  --main-subheading-font-color: #90a0b7;
  --arabic-font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-heading-font-color);
  font-size: clamp(100%, 1rem + 1.1vw, 64px);
}

p {
  margin: 10px 0px;
  color: var(--main-subheading-font-color);
  font-size: clamp(1rem, 0.25rem + 0.5vw, 2rem);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

p span {
  color: #109cf1;
}
