#data-entry-page {
  width: 100%;
  height: 100vh;
  display: grid;

  gap: 1rem;
  position: relative;
  padding: 8rem 3% 2rem 3%;
}

.select-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 650px);
  gap: 2.5rem;
}

.single-select-card-container {
  background: white;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(400px, 2fr) 1fr;

  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 4%);
  border-top: 5px solid #232f3e;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  padding: 6%;
  position: relative;
  overflow: scroll;
}

.single-select-card-container header {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  grid-row: 2/3;
  display: grid;

  grid-template-rows: 1fr 3fr;
  padding: 1rem 0rem;
}
.card-img-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  place-items: center;
}
.single-select-card-container:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.card-img-container {
  width: 100%;
}
.card-img-container img {
  width: 100%;
}
@media only screen and (min-width: 720px) {
  #data-entry-page {
    align-items: flex-start;
  }

  .select-cards-container {
    width: 100%;
  }
  .single-select-card-container:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
  }
}
/* Desktop */

@media only screen and (min-width: 1024px) {
}
