#data-entry-page {
  width: 100%;
  display: grid;
  gap: 1rem;
  position: relative;
  padding: 7rem 3% 2rem 3%;
  height: 100%;
}

.select-cards-container {
  margin-top: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 2.5rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.single-select-card-container {
  background: white;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  box-shadow: 0 1px 30px -14px rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 4%);
  transition: transform 0.4s ease-in;
  -webkit-transition: transform 0.4s ease-in;
  -moz-transition: transform 0.4s ease-in;
  -ms-transition: transform 0.4s ease-in;
  -o-transition: transform 0.4s ease-in;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  position: relative;
  text-align: center;
  padding: 1rem 1rem 2.5rem 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.single-select-card-container:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.card-img-container {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

  display: grid;
  place-items: center;
}
.card-img-container img {
  width: 100%;
  max-width: 215px;
  aspect-ratio: 1;
}

.select-cards-container {
  display: grid;

  width: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(4, 100%);
}
.single-select-card-container header {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;
}
@media only screen and (min-width: 720px) {
  #data-entry-page {
    align-items: flex-start;
  }

  .single-select-card-container:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
  }
  .select-cards-container {
  }
}
/* Desktop */

@media only screen and (min-width: 1024px) {
  .select-cards-container {
  }
  .select-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 350px);
  }
}
@media only screen and (min-width: 1440px) {
  .select-cards-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 350px);
  }
}
